<div class="text-center">
  <% if is_cookie? %>
  <script>
    setInterval(changeTitle, 1000);
    let text = ['Hey!', 'NEW COOKIE!']
    let count = 0;
    function changeTitle() {
      let x = document.title = text[count];
      count++;
      if (count >= text.length) {
        count = 0;
      }
    }

  </script>
    <div class="md:flex md:flex-wrap justify-center items-end mb-8">
      <div class="hidden md:block">
        <%= get_troll %>
      </div>
      <div class="inline-block md:hidden w-full">
        <%= get_troll_small %>
      </div>
      <div class="inline-block relative mt-64 pt-12 lg:mt-0 lg:pt-0">
        <div>
          <%= get_table %>
        </div>
        <div class="absolute bottom-0" style="margin-bottom: 140px; margin-left: 50px;">
          <% if user_signed_in? %>
            <% if flash.key?("good_news") || flash.key?("bad_news") %>
              <% flash.each do |key, value| %>
                <%= content_tag :div, value, class: "flash #{key} absolute right-0 top-0 mr-4 -mt-8 inline-block text-center" %>
              <% end %>
            <% end %>
            <%= render partial: "form" %>
          <% else %>
            <div style="margin-bottom: 200px; margin-left: -20px;" class="absolute bottom-0 left-0 bg-color7 p-4 border-2 border-white">
              <%= log_in_to_play %>
            </div>
            <%= image_tag "#{@cake_id}.png", style: 'height:auto; width:auto;'%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-sm bg-color7 p-4 border-2 border-white">
      <p class="mb-2">Troll baked a <%= @cake_name %> (<%= @cake_cal %> kcal).</p>
      <p class="mb-2">He's about to eat it.</p>
      <p class="mb-2">He's happy.</p>
      <p class="mb-2">Solve the puzzle and steal his food.</p>
    </div>
  <% else %>
    <div class="md:flex md:flex-wrap justify-center items-end mb-8">
      <div class="hidden md:block">
        <%= get_troll %>
      </div>
      <div class="inline-block md:hidden w-full">
        <%= get_troll_small %>
      </div>
      <div class="inline-block relative mt-64 pt-0 lg:mt-0 lg:pt-0">
        <div>
          <%= get_table %>
        </div>
        <div class="absolute bottom-0 text-center" style="margin-bottom: 220px; margin-left: 10px;">
          <% if flash.key?("good_news") || flash.key?("bad_news") %>
            <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "flash #{key} w-auto inline-block mt-6 text-center" %>
            <% end %>
          <% end %>
          <div class="bg-color7 p-4 border-2 border-white">
            <p class="mb-2"><strong>There is no cookie.</strong></p>
            <p>It was stolen by glutton <strong><%= @last_thief %></strong>.</p>
              <ul id="attempts" class="text-xs mb-2">
                <% @attempts.each do |attempt| %>
                  <li><%= get_delays(attempt) %></li>
                <% end %>
              </ul>
            <p>Next one will be ready in:</p>
            <timer :time_left="<%= @time_left.to_json %>"></timer>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-sm bg-color7 p-4 border-2 border-white">
      <p class="mb-2">Troll is hungry and sad.</p>
      <p class="mb-2">He would appreciate a <%= active_link_to "cup of coffee", "https://www.buymeacoffee.com/nomideusz", target: :_blank %>.</p>
      <% if !user_signed_in? %>
        <p class="mt-2"><%= active_link_to 'Log in', new_user_session_path %> or <%= active_link_to "Create Account", new_user_registration_path %> to play!</p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="flex flex-wrap justify-center mt-8">
  <table class="table-auto mr-0 md:mr-16 mb-8 md:mb-0">
    <caption><strong>Last 10 gluttons</strong></caption>
    <thead>
      <th>Glutton</th>
      <th>Cake</th>
      <th>Kcal</th>
      <th>When</th>
    </thead>
    <tbody>
      <% @last_thefts.each do |theft| %>
        <tr>
          <td>
            <% if theft.user %>
              <%= theft.user.username %>
            <% end %>
          </td>
          <% if theft.cake_id && theft.cake_id > 0 && theft.cake_id <= 24 %>
            <td><%= get_cake_name(theft.cake_id) %></td>
          <% end %>
          <td><%= theft.cake_cal %></td>
          <td><%= distance_of_time_in_words(Time.now, theft.created_at) + " ago" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <table class="mb-8">
      <caption><strong>Top 10 Fattest in May</strong></caption>
      <thead>
        <th>No.</th>
        <th>Glutton</th>
        <th>Kcal</th>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @top_fattest.each do |key, value| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if User.exists?(key) %>
                <%= User.find(key).username %>
              <% end %>
            </td>
            <td><%= value %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
    <table class="mb-8">
      <caption><strong>Most greedy yesterday</strong></caption>
      <thead>
        <th>No.</th>
        <th>Glutton</th>
        <th>Kcal</th>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @most_greedy_yesterday.each do |key, value| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if User.exists?(key) %>
                <%= User.find(key).username %>
              <% end %>
            </td>
            <td><%= value %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
    <table class="mb-8">
      <caption><strong>Most greedy in April</strong></caption>
      <thead>
        <th>No.</th>
        <th>Glutton</th>
        <th>Kcal</th>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @top_fattest_april.each do |key, value| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if User.exists?(key) %>
                <%= User.find(key).username %>
              <% end %>
            </td>
            <td><%= value %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
    <table>
      <caption><strong>Most greedy in March</strong></caption>
      <thead>
        <th>No.</th>
        <th>Glutton</th>
        <th>Kcal</th>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @top_fattest_march.each do |key, value| %>
          <tr>
            <td><%= i %></td>
            <td>
              <% if User.exists?(key) %>
                <%= User.find(key).username %>
              <% end %>
            </td>
            <td><%= value %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
