<div class="flex justify-center items-end mb-16">
  <% if is_cookie? %>
    <%= image_tag "troll01.gif", style: 'height:377px; width:143px;', class: "mr-16" %>
    <div class="relative">
      <% if user_signed_in? %>
        <%= render partial: "form" %>
      <% else %>
        <%= image_tag "#{@cake_id}.png", style: 'height:auto; width:auto; margin-bottom: 140px; margin-left: 42px;', class: "absolute bottom-0" %>
      <% end %>
        <%= image_tag "table.gif", style: 'height:193px; width:246px;' %>
    </div>
    <div class="max-w-xs ml-16 self-center text-center">
      <p class="mb-2">Troll baked a <%= @cake_name %> (<%= @cake_cal %> kcal).</p>
      <p class="mb-2">He's about to eat it.</p>
      <p class="mb-2">He's happy.</p>
      <p class="mb-2">If you click the cake, it will be stolen.</p>
      <p>Troll will stay hungry.</p>
      <% if !user_signed_in? %>
        <%= log_in_to_play %>
      <% end %>
    </div>
  <% else %>
    <%= image_tag "troll02.gif", style: 'height:377px; width:143px;', class: "mr-16" %>
    <div class="relative">
      <div style="width: 300px; margin-bottom: 200px; margin-left: -32px;" class="absolute bottom-0 text-center">
        <p class="mb-2"><strong>There is no cookie.</strong></p>
        <p class="mb-2">It was stolen by glutton <strong><%= @last_thief %></strong>.</p>
      </div>
      <%= image_tag "table.gif", style: 'height:193px; width:246px;' %>
    </div>
    <div class="max-w-xs ml-16 self-center text-center">
      <p class="mb-2">Troll is hungry and sad.</p>
      <p class="mb-2">He would appreciate a <%= active_link_to "cup of coffee", "https://www.buymeacoffee.com/nomideusz", target: :_blank %>.</p>
      <p>Next cookie will be ready in <%= pluralize(@time_left, 'minute') %>.</p>
      <% if !user_signed_in? %>
        <p class="mt-2"><%= active_link_to 'Log in', new_user_session_path %> or <%= active_link_to "Create Account", new_user_registration_path %> to play!</p>
      <% end %>
      <% if flash.key?("good_news") || flash.key?("bad_news") %>
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key} w-auto inline-block mt-6" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="flex justify-center">
<table class="table-auto mr-16">
  <caption><strong>Last 50 gluttons</strong></caption>
  <thead>
    <th>Glutton</th>
    <th>Cake</th>
    <th>Kcal</th>
    <th>When</th>
  </thead>
  <tbody>
    <% @last_50_thefts.each do |theft| %>
      <tr>
        <td>
          <% if theft.user %>
            <%= theft.user.username %>
          <% end %>
        </td>
        <% if theft.cake_id && theft.cake_id > 0 && theft.cake_id <= 24 %>
          <td><%= get_cake_name(theft.cake_id) %></td>
        <% end %>
        <td><%= theft.cake_cal %></td>
        <td><%= distance_of_time_in_words(Time.now, theft.created_at) + " ago" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <caption><strong>Top 50 The Fattest</strong></caption>
  <thead>
    <th>Glutton</th>
    <th>Kcal</th>
  </thead>
  <tbody>
    <% @top_50_fattest.each do |key, value| %>
      <tr>
        <td>
          <% if User.exists?(key) %>
            <%= User.find(key).username %>
          <% end %>
        </td>
          <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
