<% content_for :title, "Log in - Troll the Troll" %>
<div class="flex justify-center">
  <div class="md:my-10 px-8 pt-6 pb-8 mb-4 max-w-sm w-full flex justify-center bg-color7 border-2 border-white">
    <div>
      <h2 class="mb-4">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs w-full">
          <%= f.input :login,
                      required: true,
                      autofocus: true,
                      placeholder: "Login",
                      label: false,
                      input_html: { autocomplete: "login", class: "mb-4" } %>
          <%= f.input :password,
                      required: true,
                      placeholder: "Password",
                      label: false,
                      input_html: { autocomplete: "current-password", class: "mb-4" } %>
          <label class="flex justify-start items-start">
            <div class="bg-white border rounded border-gray-600 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500">
              <%= f.check_box :remember_me, as: :boolean, label: false, wrapper: false, class: "hidden" if devise_mapping.rememberable? %>
              <svg class="fill-current hidden w-4 h-4 text-teal-600 pointer-events-none" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
            </div>
            <div class="select-none">Remember me</div>
          </label>

        <div class="form-actions my-4">
          <%= f.button :submit, "Log in", class: "btn" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
