<!DOCTYPE html>
<html>
  <head>
    <title>Troll the Troll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Signika+Negative&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container mx-auto relative" data-behavior="vue">
      <div class="md:absolute md:top-0 md:left-0 mt-4 mb-4 md:mb-0 text-gray-100">
        v0.3
      </div>
      <h1 class="text-5xl font-bold text-center mb-6"><%= active_link_to 'Troll The Troll', root_path %></h1>
      <div class="md:absolute md:top-0 md:right-0 mt-4 mb-4 md:mb-0 bg-color7 p-2 border-2 border-white">
        <% if user_signed_in? %>
          <%= current_user.username %>
          <%= active_link_to 'Sign out', destroy_user_session_path, method: :delete, class: "ml-1" %>
        <% else %>
          <%= active_link_to 'Log in', new_user_session_path, class: "mr-2" %>
          <%= active_link_to "Create Account", new_user_registration_path %>
          <%= javascript_pack_tag 'vue_app' %>
        <% end %>
      </div>
      <div class="text-center">
        <% if flash.key?("alert") || flash.key?("notice") %>
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "flash #{key} w-auto inline-block mb-4" %>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
      <footer class="text-center my-12">
        <p class="mb-4"><%= active_link_to "About", about_path %></p>
        <%= get_footer %></footer>
    </div>
  </body>
</html>
